{% extends "buyer/base.html" %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
        
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.14.0/css/mdb.min.css" rel="stylesheet">
    {% block title %}
    <title>Your Products</title>
    {% endblock %}
</head>
<body class="grey lighten-3">

  {% block content %}


  <main class="mt-5 pt-4">
    <div class="container wow fadeIn">


      <h2 class="my-5 h2 text-center">Your Products</h2>

      <div class="row">


        <div class="col-md-12 my-4">
            {% for product in products %}
                <div class="row my-3">

                  <div class="card col-12">

                    <div class="row">
                      <div class="col-4">
                        <img style="min-height: 150px; max-height: 400px;" class="card-img-top" src="{{ product.products_image.url }}" alt="Card image cap">
                      </div>

                      <div class="col-8">
                        <div class="card-body">

                          <div class="row">
                            <div class="col-8">
                              <h4 class="card-title"><a>{{ product.product_name }}</a></h4>
                                <p class="card-text mt-2">{{ product.product_description }}</p>
                                {% if product.is_booked %}
                                    <h5 class="h5 text-primary mt-4">{{ product.user_booked.first_name }} Booked your product Contact him soon</h5>
                                    <h6 class="h6 mt-4">{{ product.user_booked.first_name }} Contact No : {{ product.user_booked.user_profile.user_mobile }}</h6>
                                     <form action="{% url 'seller-products' %}" method="post">
                                        {% csrf_token %}
                                        <input value="{{ product.pk }}" name="secure-key" type="number" hidden>
                                        <button class="btn btn-primary btn-md my-3 my-sm-0" type="button" data-toggle="modal" data-target="#soldconfirmation">Product Sold</button>


                                         <div class="modal fade" id="soldconfirmation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                              aria-hidden="true">
                                              <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                  <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Confirm Sold?</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                      <span aria-hidden="true">&times;</span>
                                                    </button>
                                                  </div>
                                                  <div class="modal-body">
                                                        Are you sure that this product is bought by buyer. This process is irreversible!
                                                  </div>
                                                  <div class="modal-footer">
                                                    <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                                                    <button type="submit" class="btn btn-default">Yes</button>
                                                  </div>
                                                </div>
                                              </div>
                                         </div>
                                     </form>
                                {% endif %}
                            </div>
                            <div class="col-4 text-right">
                              <h4 class="card-title ml-auto"><a>₹{{ product.product_price }}</a></h4>
                                {% if product.is_booked %}
                                    <div class="chip">
                                     Status : Booked
                                    </div>
                                {% else %}
                                    <div class="chip">
                                        Status : No Bookings
                                    </div>
                                {% endif %}
                                <div class="mt-3"><a href="{% url 'edit-product'  product.pk %}"><i class="far fa-edit" style="font-size: 23px;"></i></a></div>
                            </div>
                          </div>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                  
                </div>
            {% endfor %}
        {% for product in sold_products %}
                <div class="row my-3">
                  
                  <div class="card col-12">
                   
                    <div class="row">
                      <div class="col-4">
                        <img style="min-height: 150px; max-height: 400px;" class="card-img-top" src="{{ product.products_image.url }}" alt="Card image cap">
                      </div>
                      
                      <div class="col-8">
                        <div class="card-body">
                          
                          <div class="row">
                            <div class="col-8">
                              <h4 class="card-title"><a>{{ product.product_name }}</a></h4>
                                <p class="card-text mt-2">{{ product.product_description }}</p>
                            </div>
                            <div class="col-4 text-right">
                              <h4 class="card-title ml-auto"><a>₹{{ product.product_price }}</a></h4>
                                    <div class="chip">
                                     Status : Sold
                                    </div>
                            </div>
                          </div>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                  
                </div>
            {% endfor %}
        </div>
        
      </div>
      

    </div>
  </main>
  

  {% endblock %}

  
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.14.0/js/mdb.min.js"></script>
</body>

</html>
