{% extends "buyer/base.html" %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
        
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.14.0/css/mdb.min.css" rel="stylesheet">
    {% block title %} 
    <title>WishList</title>
    {% endblock %} 
</head>
<body class="grey lighten-3">

  {% block content %}


  <main class="mt-5 pt-4">
    <div class="container wow fadeIn">

      
      <h2 class="my-5 h2 text-center">Your WishList</h2>
      
      <div class="row">

        
        <div class="col-md-12 my-4">
            {% for product in wishlist %}
                <div class="row my-3">
                  
                  <div class="card col-md-12">
                    
                    <div class="row">
                      <div class="col-4">
                        <img style="min-height: 150px;" class="card-img-top" src="{{ product.products_image.url }}" alt="Card image cap">
                      </div>
                      
                      <div class="col-8">
                        <div class="card-body">

                          <div class="row">
                            <div class="col-8">
                              <h4 class="card-title"><a href="{% url 'products' product.pk %}">{{ product.product_name }}</a></h4>
                                <p class="card-text mt-2">{{ product.product_description }}</p>
                            </div>
                            <div class="col-4 text-right">
                              <h4 class="card-title ml-auto"><a>₹{{ product.product_price }}</a></h4>
                                <a href="{% url 'remove_from_wishlist' product.pk %}" class="text-dark"><i class="far fa-trash-alt"></i></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
            {% endfor %}
        </div>
        

      </div>


    </div>
  </main>


  {% endblock %}



  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.14.0/js/mdb.min.js"></script>
</body>

</html>
